body {
    background-color: rgb(185, 162, 135)
}

.jumbotron {
    background-image: url("/assets/img/burger.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

.jumbotron > h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#newburger {
    border-radius: 5px;
    color: rgb(196, 120, 58);
}

#color-override {
    color: rgb(255, 255, 255);
}

#new_burger {
    background-color:  #e9ddd3;
    color: rgb(196, 120, 58);
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#devoured {
    background-color: #e9ddd3;
    color: rgb(196, 120, 58);
    text-align: center;
    font-size: 1.2em;
}

.btn-success {
    color: #ffffff;
    background-color:rgb(196, 120, 58);
    border-color: rgb(255, 254, 254);
}
p {
    text-align: center;
    color: rgb(196, 120, 58);
}

/* .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
} */



#newburger {
    width: 250px;
    height: 34px;
    align-self: center;
    border-radius: 2px;
    color: rgb(196, 120, 58);
}

